rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // secure by default
    match /{document=**} {
      allow read, write: if false;
    }

    // helper functions
    function verifyUser(documentUserId) {
      return request.auth != null &&
        request.auth.uid == documentUserId;
    }

    function verifyFields(required, optional) {
      let allAllowedFields = required.concat(optional);

      return request.resource.data.keys().hasAll(required) &&
        request.resource.data.keys().hasOnly(allAllowedFields);
    }

    // rules
    match /users-public/{userId} {
      allow read: if true;
      allow create: if
        verifyUser(userId) &&
        verifyFields(["firstName", "lastName", "createdAt"], ["profilePicture"]) &&
        request.resource.data["firstName"] is string && // TODO: validate field contents with regex
        request.resource.data["lastName"] is string &&
        request.resource.data["createdAt"] is timestamp &&
        request.resource.data["createdAt"] == request.time;
    }

    match /users-private/{userId} {
      allow read: if verifyUser(userId);
      allow create: if verifyUser(userId) &&
        verifyFields(["dob", "createdAt"], ["address", "documents"]) &&
        request.resource.data["createdAt"] is timestamp &&
        request.resource.data["createdAt"] == request.time;
      allow update: if verifyUser(userId) &&
        !request.resource.data.keys().hasAny(["createdAt"]);

      match /tenants/{tenantId} {
        allow read: if verifyUser(userId);
      }
    }

    match /listings/{listingId} {
      allow read: if true;
      allow create: if request.auth != null; // TODO: validate data
      allow update: if
        request.auth != null &&
        request.auth.uid == resource.data["owner"]["uid"] &&
        !request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['owner', 'createdAt']); // user cannot update these fields
      allow delete: if
        request.auth != null &&
        request.auth.uid == resource.data["owner"]["uid"];
    }

    match /tenant-requests/{requestId} {
      allow read: if
        request.auth != null && (
          request.auth.uid == resource.data["tenantUid"] ||
          request.auth.uid == resource.data["landlordUid"] ||
          !exists(/databases/$(database)/documents/tenant-requests/$(requestId)));
      allow create: if
        request.auth != null &&
        verifyFields(["createdAt", "tenantUid", "landlordUid", "listing", "status", "leaseStartDate"], []) &&
        request.resource.data["tenantUid"] == request.auth.uid &&
        request.resource.data["createdAt"] is timestamp &&
        request.resource.data["createdAt"] == request.time;
      allow update: if
        request.auth != null &&
        (request.auth.uid == resource.data["tenantUid"] ||
          request.auth.uid == resource.data["landlordUid"]) &&
        request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['status']); // user cannot update these fields
      allow delete: if
        request.auth != null &&
        request.auth.uid == resource.data["tenantUid"];
    }

    match /chat-rooms/{chatId} {
      allow read: if
        request.auth != null && (
          request.auth.uid in resource.data["members"] ||
          !exists(/databases/$(database)/documents/chat-rooms/$(chatId)));
      allow create: if
        request.auth != null &&
        verifyFields(["members", "initiatedBy", "listings", "createdAt"], []) &&
        request.resource.data["members"] is list &&
        request.resource.data["members"].size() == 2 &&
        request.auth.uid in request.resource.data["members"] &&
        request.resource.data["initiatedBy"] == request.auth.uid &&
        request.resource.data["createdAt"] is timestamp &&
        request.resource.data["createdAt"] == request.time;
      allow update: if
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(["listings"]);

      match /messages/{msgId} {
        allow read: if
          request.auth.uid == resource.data["uid"] ||
          request.auth.uid in resource.data["members"] ||
          request.auth.uid in get(/databases/$(database)/documents/chat-rooms/$(chatId)).data["members"];
        allow create: if
          request.auth.uid in get(/databases/$(database)/documents/chat-rooms/$(chatId)).data["members"] &&
          verifyFields(["uid", "members", "text", "createdAt"], ["file"]) &&
          request.resource.data["uid"] == request.auth.uid &&
          request.resource.data["text"] is string &&
          request.resource.data["createdAt"] is timestamp &&
          request.resource.data["createdAt"] == request.time;
      }
    }
  }
}
