rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // secure by default
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /profile-picture/{userId} {
      allow read: if true;
      allow write: if request.auth != null &&
        request.auth.uid == userId &&
        request.resource.size < 5 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.jpg');
    }

    match /listing-images/{userId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null &&
        request.auth.uid == userId &&
        request.resource.size < 5 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.jpg');
    }
  }
}
